<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
    function getValue(){
        Smooch.init({appToken: '{{appToken}}', embedded: true});
        Smooch.render(document.getElementById('chat-container'));
    }
    </script>
</head>
<body>
    <h1 id="chat-container" onclick="getValue()">Talk to me</h1>
</body>
</html>
